<div class="jumbotron mt-4">
    <h1 class="display-4">Hola amingo</h1>
    <p class="lead">Ejemplo de txt</p>
    <hr class="my-4" />
    <p class="Muchas cosas magicas musicales para ver en este momento"></p>
    <a href="http://mx.youtube.com" class="btn btn-primary btn-lg">Yutuvi</a>

</div>