<div class="row">
  <div class="col-md4 mx-auto">
    <div class="card">
      <div class="card-header">
          <h1>iniciar sesion</h1>
        <div class="card-body">
          {{> errors }}
          <form action="/users/login" method="POST" autocomplete="off">
            <div class="form-group">
              <label for="email">Email</label>
              <input type="email" class="form-control" name="email" id="email" placeholder="@...">
            </div>
            <div class="form-group">
              <label for="password">Password</label>
              <input type="password" class="form-control" name="password" id="password" placeholder="Contraseña">
            </div>
            <div class="form-group form-check">
              <input type="checkbox" class="form-check-input" id="exampleCheck1">
              <label class="form-check-label" for="exampleCheck1">Recordarme</label>
            </div>
            <button type="submit" class="btn btn-primary">Iniciar Sesión</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

