<div class="row">
  <div class="col-md4 mx-auto">
    <div class="card">
      <div class="card-header">
          <h1>Crear Cuenta</h1>
        <div class="card-body">
            {{> errors }}
          <form action="/users/save" method="POST" autocomplete="off">
            <div class="form-group">
              <label for="nombre">Nombre</label>
              <input type="tyext" class="form-control" name="nombre" id="nombre" value="{{nombre}}" placeholder="Nombre..." />
            </div>
            <div class="form-group">
              <label for="email">Email</label>
              <input type="email" class="form-control" name="email" id="email" value="{{email}}"placeholder="@...">
            </div>
            <div class="form-group">
              <label for="password1">Contrase単a</label>
              <input type="password" class="form-control" name="password" id="password" placeholder="Contrase単a">
            </div>
            <div class="form-group">
              <label for="password2">Confirmar contrase単a</label>
              <input type="password" class="form-control" name="passwordC" id="passwordC" placeholder="Confirmar Contrase単a">
            </div>
            <button type="submit" class="btn btn-primary">Crear Cuenta</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

